.header-link {
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.36;
color: #7D7D7D;
}

.header-link:hover {
    color: #03A9F4;
}

.gallary-name{
    font-family: 'Ubuntu';
font-weight: 300;
font-size: 14px;
line-height: 1.14;
color: #B4AD9E;
}

.gallary-title{ 
    font-family: 'Playfair Display';
font-weight: 400;
font-size: 30px;
line-height: 1.33;
color: #626262;
}

.gallary-description{
    font-family: 'Playfair Display';
font-weight: 400;
font-size: 14px;
line-height: 1.36;
color: #626262;
}

.gallary-btn{   
    font-family: 'Playfair Display';
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #626262;

}