.header-link {
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.36;
color: #7D7D7D;
}

.header-link:hover {
    color: #03A9F4;
}

.gallary-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 130px;
    column-gap: 65px;
}

.gallary-item{
    width: 420px;
}

.gallary-name{
    font-family: 'Ubuntu';
font-weight: 300;
font-size: 14px;
line-height: 1.14;
color: #B4AD9E;
}

.gallary-title{ 
    font-family: 'Playfair Display';
font-weight: 400;
font-size: 30px;
line-height: 1.33;
color: #626262;
}

.gallary-description{
    font-family: 'Playfair Display';
font-weight: 400;
font-size: 14px;
line-height: 1.36;
color: #626262;
}

.gallary-btn{   
    font-family: 'Playfair Display';
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #626262;
}

.container{
    outline: solid red;
    width: 906px;
    margin-left: auto;
    margin-right: auto;
}

.header-list{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.header{
    padding-top: 71px;
    padding-bottom: 92px;
}

